
.vs/
.vscode/
.VSCodeCounter/
.idea/
.pytest_cache/
__pycache__/
.settings/
.project/
*.prefs
*.tmp
*.filters
*.user
*.directory
*build/
*buildVS/
*bin/
*lib/
*.exp
*.lib
*.pyd
*.so

*.tar
.history/CMakeLists_20230808200648.txt
.history/CMakeLists_20230809155657.txt
.history/CMakeLists_20230809155757.txt
.history/examples/GaussNewtonNlls/CMakeLists_20230808200648.txt
.history/examples/GaussNewtonNlls/CMakeLists_20230809155347.txt
.history/examples/GaussNewtonNlls/CMakeLists_20230809155410.txt
.history/include/NumCpp/Filter_20230808200648.hpp
.history/include/NumCpp/Filter_20230811141137.hpp
.history/include/NumCpp/Filter_20230814160807.hpp
.history/include/NumCpp/Filter/Boundaries/Boundary_20230808200648.hpp
.history/include/NumCpp/Filter/Boundaries/Boundary_20230810161735.hpp
.history/include/NumCpp/Filter/Boundaries/Boundary_20230810161738.hpp
.history/include/NumCpp/Filter/Boundaries/Boundary_20230810173506.hpp
.history/include/NumCpp/Filter/Boundaries/Boundary_20230814153423.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230808200648.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810161752.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810161819.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810161828.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810163305.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810163315.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810163847.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810163849.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810164038.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810171755.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810172534.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810173458.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810173515.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810174403.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810174815.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810175251.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1d_20230810175931.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1drt_20230811134941.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1drt_20230811134942.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1drt_20230811134947.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/addBoundary1drt_20230811135025.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810161619.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810161620.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810161850.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165019.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165146.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165408.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165732.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165739.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810165754.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810170257.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810170329.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810170345.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/interpolate1d_20230810172054.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/reflect1drt_20230811135131.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1d/reflect1drt_20230811135132.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135024.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135201.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135208.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135212.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135218.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135226.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135228.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135230.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135231.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135242.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135246.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135248.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135250.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811135253.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811140510.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230811140512.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154233.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154240.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154243.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154656.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154913.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154922.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154926.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814154934.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814160513.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814160517.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814160550.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814160611.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/addBoundary1drt_20230814160612.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811135131.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811135143.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811135338.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811135443.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811140338.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1drt/reflect1drt_20230811140440.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814154933.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814160321.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814160338.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814160538.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814160544.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/addBoundary1dsg_20230814161835.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/reflect1drt_20230811140439.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/reflect1drt_20230814160429.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/reflect1dsg_20230814160428.hpp
.history/include/NumCpp/Filter/Boundaries/Boundaries1dsg/reflect1dsg_20230814160437.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230808200648.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810164124.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810164126.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810164135.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810164138.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810164729.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810172124.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810172523.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810173524.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810173552.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810173701.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810173709.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810174115.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810174234.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1d_20230810174806.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140631.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140654.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140658.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140701.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140816.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811140920.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811141915.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811142603.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230811142737.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814152821.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814152826.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814152831.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814152836.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160654.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160700.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160706.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160723.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160730.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160906.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160916.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814160935.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161148.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161153.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161233.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161325.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161352.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161522.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161537.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161551.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161918.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1drt_20230814161921.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814160229.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814160230.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814160244.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814160250.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814160641.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/convolve1dsg_20230814161740.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/rt_convolve1d_20230811134811.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/rt_convolve1d_20230811134812.hpp
.history/include/NumCpp/Filter/Filters/Filters1d/rt_convolve1d_20230811140632.hpp
.history/include/NumCpp/Functions/gradient_20230808200648.hpp
.history/include/NumCpp/Functions/gradient_20230814191640.hpp
.history/include/NumCpp/Functions/gradient_20230814191724.hpp
.history/include/NumCpp/Functions/gradient_20230814191809.hpp
.history/include/NumCpp/Functions/gradient_20230814191904.hpp
.history/include/NumCpp/Functions/gradient_20230814191956.hpp
.history/include/NumCpp/Functions/gradient_20230814192050.hpp
.history/include/NumCpp/Functions/gradient_20230814192126.hpp
.history/include/NumCpp/Functions/gradient_20230814192132.hpp
.history/include/NumCpp/Functions/gradient_20230814192405.hpp
.history/include/NumCpp/Functions/gradient_20230814192508.hpp
.history/include/NumCpp/Functions/gradient_20230814192529.hpp
.history/include/NumCpp/Functions/gradient_20230814192538.hpp
.history/include/NumCpp/Functions/gradient_20230814192544.hpp
.history/include/NumCpp/Functions/gradient_20230814192850.hpp
.history/include/NumCpp/Functions/gradient_20230814193010.hpp
.history/include/NumCpp/Functions/gradient_20230814193022.hpp
.history/include/NumCpp/Functions/gradient_20230814193126.hpp
.history/include/NumCpp/Functions/gradient_20230814193128.hpp
.history/include/NumCpp/Functions/gradient_20230814193523.hpp
.history/include/NumCpp/Functions/gradient_20230814194005.hpp
.history/include/NumCpp/Functions/gradient_20230814194454.hpp
.history/include/NumCpp/Functions/gradient_20230814194512.hpp
.history/include/NumCpp/Functions/gradient_20230814194531.hpp
.history/include/NumCpp/Functions/gradient_20230814194608.hpp
.history/include/NumCpp/Functions/gradient_20230814194620.hpp
.history/include/NumCpp/Functions/gradient_20230814194636.hpp
.history/include/NumCpp/Functions/gradient_20230814194648.hpp
.history/include/NumCpp/Functions/gradient_20230814194715.hpp
.history/include/NumCpp/Functions/gradient_20230814194744.hpp
.history/include/NumCpp/Functions/gradient_20230814194828.hpp
.history/include/NumCpp/Functions/gradient_20230814194838.hpp
.history/include/NumCpp/Functions/gradient_20230814195124.hpp
.history/include/NumCpp/Functions/gradient_20230814195128.hpp
.history/include/NumCpp/Functions/gradient_20230814195152.hpp
.history/include/NumCpp/Functions/gradient_20230814195153.hpp
.history/include/NumCpp/Functions/stdev_20230808200648.hpp
.history/include/NumCpp/Functions/stdev_20230809152628.hpp
.history/test/pytest/src/Filter_20230808200648.cpp
.history/test/pytest/src/Filter_20230811141122.cpp
.history/test/pytest/src/Filter_20230811141123.cpp
